body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background-color: #512DA8;
}

.bg-purple {
  background-color: purple;
}

.bg-purple-300 {
  background-color: rgba(211, 4, 211, 0.493);
}

.text-white {
  color: white;
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  background: #9575cd;
  color: floralwhite;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}